import(Rffi)
export(getNearestCRAN, getIPPos, getHostPos)

export(GeoIPDll, GeoIPData)

#exportClasses(GeoIPRecord, GeoIP, GeoIPRecordRef, GeoIPRef)
exportClasses(GeoIPRecord, GeoIP, GeoIPRecordPtr, GeoIPPtr)

exportMethods("$", "names", "coerce")


export(GeoIP,
GEOIP_ANON_PROXY,
GEOIP_ASNUM_EDITION,
GeoIP_assign_region_by_inetaddr,
GeoIP_assign_region_by_inetaddr_v6,
GEOIP_CABLEDSL_SPEED,
GeoIP_charset,
GEOIP_CHARSET_ISO_8859_1,
GEOIP_CHARSET_UTF8,
GEOIP_CHECK_CACHE,
GEOIP_CITY_EDITION_REV0,
GEOIP_CITY_EDITION_REV1,
GeoIP_code_by_id,
GeoIP_code3_by_id,
GeoIP_continent_by_id,
GEOIP_CORPORATE_SPEED,
GeoIP_country_code_by_addr,
GeoIP_country_code_by_ipnum,
GeoIP_country_code_by_ipnum_v6,
GeoIP_country_code_by_name,
GeoIP_country_code3_by_addr,
GeoIP_country_code3_by_ipnum,
GeoIP_country_code3_by_ipnum_v6,
GeoIP_country_code3_by_name,
GEOIP_COUNTRY_EDITION,
GEOIP_COUNTRY_EDITION_V6,
GeoIP_country_id_by_addr,
GeoIP_country_id_by_name,
GeoIP_country_name_by_addr,
GeoIP_country_name_by_ipnum,
GeoIP_country_name_by_ipnum_v6,
GeoIP_country_name_by_name,
GeoIP_database_edition,
GeoIP_database_info,
GeoIP_db_avail,
GeoIP_delete,
GEOIP_DIALUP_SPEED,
GEOIP_DOMAIN_EDITION,
GEOIP_HTTP_CLIENT_IP_PROXY,
GEOIP_HTTP_X_FORWARDED_FOR_PROXY,
GeoIP_id_by_addr,
GeoIP_id_by_addr_v6,
GeoIP_id_by_code,
GeoIP_id_by_ipnum,
GeoIP_id_by_ipnum_v6,
GeoIP_id_by_name,
GeoIP_id_by_name_v6,
GEOIP_INDEX_CACHE,
GeoIP_init_record_iter,
GEOIP_ISP_EDITION,
GeoIP_last_netmask,
GEOIP_MEMORY_CACHE,
GEOIP_MMAP_CACHE,
GeoIP_name_by_addr,
GeoIP_name_by_addr_v6,
GeoIP_name_by_id,
GeoIP_name_by_ipnum,
GeoIP_name_by_ipnum_v6,
GeoIP_name_by_name,
GeoIP_name_by_name_v6,
GEOIP_NETSPEED_EDITION,
GeoIP_new,
GeoIP_next_record,
GeoIP_num_countries,
GeoIP_open,
GeoIP_open_type,
GeoIP_org_by_addr,
GeoIP_org_by_addr_v6,
GeoIP_org_by_ipnum,
GeoIP_org_by_ipnum_v6,
GeoIP_org_by_name,
GeoIP_org_by_name_v6,
GEOIP_ORG_EDITION,
GEOIP_PROXY_EDITION,
GeoIP_range_by_ip,
GeoIP_range_by_ip_delete,
GeoIP_record_by_addr,
GeoIP_record_by_addr_v6,
GeoIP_record_by_ipnum,
GeoIP_record_by_ipnum_v6,
GeoIP_record_by_name,
GeoIP_record_by_name_v6,
GeoIP_record_id_by_addr,
GeoIP_record_id_by_addr_v6,
GeoIP_region_by_addr,
GeoIP_region_by_addr_v6,
GeoIP_region_by_ipnum,
GeoIP_region_by_ipnum_v6,
GeoIP_region_by_name,
GeoIP_region_by_name_v6,
GEOIP_REGION_EDITION_REV0,
GEOIP_REGION_EDITION_REV1,
GeoIP_region_name_by_code,
GeoIP_set_charset,
GeoIP_setup_custom_directory,
GEOIP_STANDARD,
GeoIP_time_zone_by_country_and_region,
GEOIP_UNKNOWN_SPEED,
GeoIPCharsetValues,
GeoIPDBTypesValues,
GeoIPNetspeedValuesValues,
GeoIPOptionsValues,
GeoIPProxyTypesValues,
GeoIPRecord,
GeoIPRecord_delete)


export(
GeoIPRecordTag,
GeoIPRegion,
GeoIPRegion_delete,
 GeoIPRegionTag,       
GeoIPTag)


export(
GeoIPPtr,       
GeoIPRecordPtr,
GeoIPRecordTagPtr,       
 GeoIPRegionPtr,       
 GeoIPRegionTagPtr,
 GeoIPTagPtr
)

